/sistemaControl/nbproject/private/
/Metodologias_1_2020/nbproject/private/
/sistemaControl/nbproject/private/
/sistemaControl/nbproject/private/
/sistemaControl/nbproject/Makefile-*.mk
/sistemaControl/nbproject/Package-*.bash
/sistemaControl/build/
/sistemaControl/nbbuild/
/sistemaControl/dist/
/sistemaControl/nbdist/
/sistemaControl/.nb-gradle/